<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Othello IGameGT</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Othello")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @Html.Partial("_navBar")

    <div class="container">
        <label id="lblJugador2">Jugador2: @ViewBag.usuario2</label>
        <div class="grid"></div>
        <label class="jugador">Jugador1:  @ViewBag.usuario</label>
    </div>
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year -Othello IGameGT</p>
        </footer>
    
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Othello")

</body>
</html>
