

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Othello IGameGT</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Othello")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/Jquery")
</head>
<body>
    @Html.Partial("_navBar")


    <div class="contenedor">

        <div class="fila">
            <!--una columna con tres filas-->
            <div class="col-4">
                <div class="fila">
                    <div class="col-12"></div>
                    <label id="lblJugador2" class="lbl">Jugador2:</label>
                </div>

                <div class="fila">
                    <div class="col-12"></div>
                    <label id="labelTurnoJugador2" class="lbl">Turno:  </label>
                </div>

                <div class="fila">
                    <div class="col-12"></div>
                    <label id="labelFichasJugador2" class="lbl">Fichas:  </label>
                </div>

                <div class="fila">
                    <div class="col-12"></div>
                    <label id="labelPunteoJ2" class="lbl">Punteo:  </label>
                </div>
                <div class="fila">
                    <div class="col-12"></div>
                    <button id="btnCederTurnoJugador2" class="btn-danger" onclick="cederElTurno('jugador2')">Ceder el turno</button>
                </div>

                <div class="fila">
                    <div class="col-12"></div>
                    <p>
                        Temporizador:   <span id="minutosJugador2"></span>:<span id="segundosJugador2">00:00</span>
                    </p>
                </div>
            </div>

            <!--el tablero de juego-->
            <div class="col-4">
                <div class="grid"></div>
            </div>

            <div class="col-4">
                <!--una columna con tres filas-->
                <div class="fila">
                    <div class="col-12">
                        <label class="lbl" id="lblJugador1">Jugador1: @ViewBag.usuario</label>
                    </div>

                </div>
                <div class="fila">
                    <div class="col-12">
                        <label id="labelTurnoJugador1" class="lbl">Turno:  </label>
                    </div>
                </div>
                <div class="fila">
                    <div class="col-12">
                        <label id="labelFichasJugador1" class="lbl">Fichas:  </label>
                    </div>
                </div>

                <div class="fila">
                    <div class="col-12"></div>
                    <label id="labelPunteoJ1" class="lbl">Punteo:  </label>
                </div>

                <div class="fila">
                    <div class="col-12"></div>
                    <button id="btnCederTurnoJugador1" class="btn-danger" onclick="cederElTurno('jugador1')">Ceder el turno</button>
                </div>

                <div class="fila">
                    <div class="col-12"></div>
                    <p>
                        Temporizador:  <span id="minutosJugador1"></span>:<span id="segundosJugador1">00:00</span>
                    </p>
                </div>
            </div>

        </div>
        <div class="fila">
            <div class="col-4">
            </div>
            <div class="col-4">
                <input type="file" class="custom-file-input" id="cargarArchivo" onclick="cargarArchivo()" lang="es">
                <label class="custom-file-label" data-browse="Seleccionar" for="cargarArchivo">Cargar partida</label>
            </div>
            <div class="col-4"></div>
        </div>

        <div class="fila">
            <div class="col-4">
            </div>
            <div class="col-4">
                <input type="file" class="custom-file-input" id="guardarArchivo" onclick="guardarArchivo()" lang="es">
                <label class="custom-file-label" for="guardarArchivo" data-browse="Seleccionar">Guardar partida</label>
            </div>
            <div class="col-4"></div>
        </div>
    </div>
    
    <hr />
    <footer>
        <p>&copy; @DateTime.Now.Year -Othello IGameGT</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/Othello")

</body>
</html>
